/* 
    Document   : forgotPassword
    Created on : Nov 8, 2014, 12:25:17 AM
    Author     : imrul
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.myContainer{
    border: 1px solid black;
    margin: 0 auto;
    width: 40%;
    margin-top: 3%;
}
.myRow{
    border-top: 1px solid black;
}
.myH{
    text-align: center;
    font-weight: bold;
}
.myBtn{
    background-color: white;
    border: 1px solid #989898;
    width: 100%;
}
.buttonContainer{
    width: 31%;
    margin: 0 auto;
}
.successMsg{
    color: green;
}
.errorMsg{
    color: red;
}

